{% extends './index.html' %}

{% block contenidos %}


<form action="{% url 'generar_prueba' %}" method="POST">
    {% csrf_token %}
    {{ crear_prueba_formulario }}
  <hr>
  <hr> 
<p>Seleccione las preguntas:</p>
<div class="row justify-content-center my-2">
  <input id="input_buscador" type="text" class="form-control col-lg-6" placeholder="buscar..." onkeyup="Buscar()">
  
</div>
  
  <table class="table" >
    <thead class="thead-light">
      <tr id="pregunta">
        <th scope="col">#</th>
        <th scope="col">Usar</th>
        <th scope="col">Enunciado</th>

        <th scope="col">Fija</th>
        <th scope="col">Tag</th>
      </tr>
    </thead>
    <tbody id="preguntas">
      {% if preguntas %}
      {% for pregunta in preguntas %}
      <tr>
        <th scope="row">1</th>
        <td>
          <div class="form-group form-check">
          <input type="checkbox" name="{{ pregunta.unico_pregunta }}" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label"  for="exampleCheck1">Usar</label>
            </div>
          </td>
        <td>{{ pregunta.enunciado }}</td>
        <td>
            <div class="form-group form-check">
            <input type="checkbox" name="fija_{{ pregunta.unico_pregunta }}" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label"  for="exampleCheck1">Dejar pregunta fija</label>
              </div>
          </td>
          <td>
            {{ pregunta.tag}}
            </td>
      </tr>
      {% endfor %}
      {% endif %}
      {% if preguntas_compartidas %}

      {% for pregunta in preguntas_compartidas %}
      <tr class="bg-warning">
        <th scope="row">1</th>
        <td>
          <div class="form-group form-check">
          <input type="checkbox" name="{{ pregunta.unico_pregunta }}" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label"  for="exampleCheck1">Usar</label>
            </div>
          </td>
        <td>{{ pregunta.enunciado }}</td>
        <td>
            <div class="form-group form-check">
            <input type="checkbox" name="fija_{{ pregunta.unico_pregunta }}" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label"  for="exampleCheck1">Dejar pregunta fija</label>
              </div>
          </td>
          <td>
            {{ pregunta.tag }}
            </td>
      </tr>
      {% endfor %}
    
      {% endif%}



    </tbody>
  </table>
  <input type="submit" class="btn btn-info" value="Generar">
</form>
<script>
  function Buscar() {
    // Declare variables
    var input, filter, ul, li, a, i, txtValue;
    input = document.getElementById('input_buscador');
    filter = input.value.toUpperCase();
    ul = document.getElementById("preguntas");
    tr = ul.getElementsByTagName('tr');
    for (i = 0; i < tr.length; i++) {
      a = tr[i].getElementsByTagName("td")[1];
      txtValue = a.textContent || a.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
  </script>
{% endblock %}