
{% extends './index.html' %}

{% block contenidos %}
<h3 class="row">
    {{ editar_formulario_alternativas.non_form_errors }}
    {{ editar_enunciado_formulario.non_form_errors }}

</h3>
<form action="{% url 'guardar_pregunta_editada' %}" method="post">
    {% csrf_token %}
    {{ editar_enunciado_formulario.management_form }}
    <div id="tags" class="row">
        <div class="col-lg-6">
    {{ editar_enunciado_formulario.tag.label }}
        </div>
        <div class="col-lg-6">
    {{ editar_enunciado_formulario.tag }}
        </div>
    </div>
 

    <div class="row d-flex flex-column">
        <div class="P-2">
            {{ editar_enunciado_formulario.enunciado.label }}
        </div>
        <div class="P-2">
            {{ editar_enunciado_formulario.enunciado }}
        </div>
    </div>
        <div class="row d-flex flex-column">
            <div class="p-2">
                {{ editar_enunciado_formulario.explicacion.label }}
            </div>
            <div class="p-2">
                {{ editar_enunciado_formulario.explicacion }}
            </div>
        </div>


    {{ editar_formulario_alternativas.management_form }}
    {% for f in editar_formulario_alternativas %}
    <!-- estas lineas de abajo es para que no levante error id_required -->
    {% for hidden in f.hidden_fields %}
        {{ hidden }}
    {% endfor %}
    <div class="row border p-2">
        <div class="row">
            <div class="col-lg-6">
               {{ f.texto.label }} 
               {{ f.texto }} 
            </div>
            <div class="col-lg-6">
           {{ f.es_correcta.label }}
           {{ f.es_correcta }}
           </div>
        </div>
            {{ f.id_alternativa}}

    
   </div>

    {% endfor %}
    
   
    <input type="hidden" name="unico" value="{{unico_pregunta}}">
    <input type="submit" class="btn btn-success mt-2" name="accion" value="Actualizar">
</form>
{% endblock %}